<div class="sets-container">
  <% @sets.each do |set| %>

    <div class="set-card">
      <!-- Logo du set -->
      <p><%= set.title %></p>
      <img src="<%= set.image_url %>" alt="<%= set.title %>" class="set-logo" />

      <!-- Nom et date de sortie -->
    </div>
  <% end %>
</div>
