<div class="cards-page">
  <h2 class="main-title">Pokemon Sets</h2>
   <%= render 'components/tab' %>
   <div id="collections_list">
    <%= render "collections/list", collections: @collections %>
  </div>
</div>
