    <nav class="navbar">
        <div class="logo">
          <%# fait moi une récupération de mon logo dans mon assets iamge %>
             <%= image_tag 'logo_collectionr.png', alt: 'Logo', class: "logo-collectionr" %>
        </div>
        <div class="nav-links">
            <a href="#" class="nav-item">Home</a>
            <a href="#" class="nav-item">Collection</a>
            <a href="#" class="nav-item">Card</a>
        </div>
        <div class="nav-buttons">
           <% if current_user %>
            <%= link_to 'LOGOUT', destroy_user_session_path, data: { turbo_method: :delete }, class: 'login-btn' %>
          <% else %>
              <%= link_to 'LOGIN', new_user_session_path, class: 'login-btn' %>
          <% end %>
            <i class="fa-solid fa-user-large user-icon"></i>
        </div>
    </nav>
