/* Section TCG */
.tcg-section {
  margin: 40px 0;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 15px;
}

.tcg-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.release-date {
  color: #666;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

/* Conteneur principal */
.sets-container {
  display: grid;
  flex-wrap: wrap; /* Permet d'aller à la ligne sur les petits écrans */
  justify-content: center; /* Centre les cartes horizontalement */
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}

/* Style des cartes */
.set-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  width: 300px;
  height: 300px; // Fixed height
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    max-width: 280px;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
    margin: 0 auto;
  }
}

.set-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Style des images */
.set-logo {
  max-width: 100%; /* Image responsive */
  height: auto; /* Conserve le ratio d'aspect */
}

/* Titre et texte */
.set-card h2 {
  font-size: 1.2rem;
}

.set-card p {
  font-size: 1rem;
  margin-bottom: 15px;
  color: #666;
}

.show-collection {

  .collection-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .collection-logo {
    display: flex;
    align-items: center;
    width: auto;
    height: 80px;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      border-radius: 10px;
    }
  }

  .collection-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
  }

  .collection-stats {
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem;
    padding: 0.5 1rem;

    .stat-card {
      display: flex;
      align-items: center;
      gap: 1rem;
      .stat-icon {
        font-size: 1.8rem;
        color: var(--secondary-color);
      }

      .stat-value {
        font-size: 1.5rem;
        font-weight: light;
        color: #2d3436;
        margin: 0;
      }
    }
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 cards per row
    gap: 2rem;
    padding: 1rem;
    max-width: 1600px; // Adjust based on card width and gap
    margin: 0 auto;
  }

  /* Card item styles */
  .card-item {
    .card-image-show{
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: block; // Remove white space
      }
    }
  }


    .not-owned {
      .card-image-show,
      .card-info {
        opacity: 0.8;
        filter: grayscale(100%);
        pointer-events: none;
      }

      &:hover {
        transform: none !important;

        .favorite-btn,
        .add-card-btn  {
          opacity: 1;

          transition: opacity 0.3s ease;
        }
      }

      .card-image-show {
        pointer-events: none;
      }

      .favorite-btn,
      .add-card-btn {
        opacity: 0;
        transition: opacity 0.3s ease;

        i {
          color: #ff4757 !important;
          filter: none !important;
        }

        &:hover button {
          transform: scale(1.1);
          background-color: white;
        }
      }
    }

  /* Card content */
  .card-image-show {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-info {
    padding: 1rem;
  }

  .card-title {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
  }

  .card-hp {
      color: #e17055;
      font-weight: bold;
  }
}


.favorite-btn {
  position: absolute;
  top: 10px;
  right: 8px;
  z-index: 10;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: white;
      transform: scale(1.1);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }

    i {
      font-size: 1.5rem;
      color: #ff4757;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.card-item:hover {
  .favorite-btn {
    opacity: 1;
  }
}
