// Specific CSS for your home-page
.container-home {
  .hero {
    display: flex;
    padding: 5% 5%;
    gap: 2rem;
    align-items: center;
}

.hero-content {
    flex: 1;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    line-height: 1.2;
}

.hero-content p {
    color: #666;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}


.hero-image img {
    max-width: 100%;
    height: auto;
}



.features {
    display: flex;
    gap: 2rem;
    padding: 2rem 5%;
}

.feature-card {
    flex: 1;
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h2 {
    color: var(--text-color);
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .features {
        flex-direction: column;
    }
}
}

.show-collection {

  .collection-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }

  .collection-logo {
    display: flex;
    align-items: center;
    width: auto;
    height: 80px;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      border-radius: 10px;
    }
  }

  .collection-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
  }

  .collection-stats {
    display: flex;
    justify-content: center;
    margin: 0 auto 2rem;
    padding: 0.5 1rem;

    .stat-card {
      display: flex;
      align-items: center;
      gap: 1rem;
      .stat-icon {
        font-size: 1.8rem;
        color: var(--secondary-color);
      }

      .stat-value {
        font-size: 1.5rem;
        font-weight: light;
        color: #2d3436;
        margin: 0;
      }
    }
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 cards per row
    gap: 2rem;
    padding: 1rem;
    max-width: 1600px; // Adjust based on card width and gap
    margin: 0 auto;
  }

  /* Card item styles */
  .card-item {
    .card-image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: block; // Remove white space
      }
    }

    &.not-owned {
      transform: none !important;

      .card-image,
      .card-info {
        opacity: 0.8;
        filter: grayscale(100%);
      }

      &:hover {
        transform: none !important;

        .favorite-btn,
        .add-card-btn  {
          opacity: 1;
          transition: opacity 0.3s ease;
        }
      }

      .card-image {
        pointer-events: none;
      }

      .favorite-btn,
      .add-card-btn {
        opacity: 0;
        transition: opacity 0.3s ease;

        i {
          color: #ff4757 !important;
          filter: none !important;
        }

        &:hover button {
          transform: scale(1.1);
          background-color: white;
        }
      }
    }
  }

  /* Card content */
  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-info {
    padding: 1rem;
  }

  .card-title {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
  }

  .card-hp {
      color: #e17055;
      font-weight: bold;
  }
}


.favorite-btn {
  position: absolute;
  top: 10px;
  right: 8px;
  z-index: 10;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  button {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: white;
      transform: scale(1.1);
      box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    }

    i {
      font-size: 1.5rem;
      color: #ff4757;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.card-item:hover {
  .favorite-btn {
    opacity: 1;
  }
}
