// Specific CSS for your home-page
.container-home {
  .hero {
    display: flex;
    padding: 5% 5%;
    gap: 2rem;
    align-items: center;
}

.hero-content {
    flex: 1;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: var(--text-color);
    line-height: 1.2;
}

.hero-content p {
    color: #666;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0);
  }
}


.hero-image img {
    max-width: 100%;
    height: auto;
}



.features {
    display: flex;
    gap: 2rem;
    padding: 2rem 5%;
}

.feature-card {
    flex: 1;
    background: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h2 {
    color: var(--text-color);
    font-size: 1.5rem;
}

@media (max-width: 768px) {
    .hero {
        flex-direction: column;
    }

    .features {
        flex-direction: column;
    }
}
}

.show-collection {
    .collection-title {
      margin: 2rem 0;
      font-size: 2rem;
      color: #2d3436;
  }

  .collection-stats {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    color: #2d3436;
  }

  .cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); // 5 cards per row
    gap: 2rem;
    padding: 1rem;
    max-width: 1600px; // Adjust based on card width and gap
    margin: 0 auto;
  }

  /* Card item styles */
  .card-item {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    width: 100%;

    &:hover {
      transform: translateY(-5px);
    }

    &.not-owned {
      filter: grayscale(100%);
      opacity: 0.7;
      transform: none !important;

      &:hover {
        transform: none !important;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
      }

      .card-image {
        pointer-events: none;
      }
    }
  }

  /* Card content */
  .card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .card-info {
    padding: 1rem;
  }

  .card-title {
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
  }

  .card-hp {
      color: #e17055;
      font-weight: bold;
  }
}

.favorite-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;

    i {
      font-size: 1.5rem;
      color: #ff4757;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
