<div class="container-home">
  <section class="hero">
    <div class="hero-content">
      <h1>Une plateforme de collectionneur<br>
        pour les collectionneur</h1>
      <p>Découvrez notre plateforme de collectionneurs, conçue par des passionnés pour les passionnés. Vendez, achetez et échangez !</p>
      <p class="subtitle">Suivez en temps réel les valeurs de chaque carte !</p>
    </div>
    <div class="hero-image">
      <img src="cards.png" alt="Collection de cartes">
    </div>
  </section>
  <section class="features">
    <div class="feature-card">
      <h2>Visualisez votre collection</h2>
    </div>
    <div class="feature-card">
      <h2>Trouvez les cartes qu'il vous manque</h2>
    </div>
  </section>
</div>
