<div class="cards-page">
  <div class="main-content">
    <h1 class="main-title">Nos offres du moment</h1>
    <div class="search-container">
      <div class="search-input-wrapper">
        <i class="fas fa-search search-icon"></i>
        <input type="text" class="search-input" placeholder="Rechercher une offre ?">
      </div>
    </div>

  <%= render 'components/tab' %>

<div id="offers_list">
      <%= render partial: "offers/list", locals: { offers: @offers } %>
    </div>
</div>
</div>
